@import 'tailwindcss';

/* [active='true'] {
    transform: scale(1.05);
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
    margin: 0;
    padding: 0;
    color: var(--border-color);
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

#root {
    width: 100%;
    overflow-x: hidden;
}

.listTask:hover {
    transform: scale(1.05);
    position: relative;
    box-shadow: 0px 0px 4px 1px var(--border-color);
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-custom-textarea {
    scrollbar-width: 10em;
}

.scrollbar-custom-textarea::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaaaaa;
}

.scrollbar-custom-textarea::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
}
 */

@custom-variant dark (&:is(.dark *));

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent-button: var(--accent-button);
    --color-accent-button-light: var(--accent-button-light);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --animate-float: float 3s ease-in-out infinite;

    --text-fluid-xs: clamp(0.5rem, calc(0.5rem + 0.5vw), 0.75rem);
    --text-fluid-sm: clamp(0.8rem, calc(0.8rem + 0.5vw), 1rem);
    --text-fluid-md: clamp(1rem, calc(1rem + 0.5vw), 1.25rem);
    --text-fluid-lg: clamp(1.25rem, calc(1.25rem + 0.5vw), 1.5rem);
    --text-fluid-xl: clamp(1.5rem, calc(1.5rem + 0.5vw), 1.75rem);
    --text-fluid-2xl: clamp(1.75rem, calc(1.75rem + 0.5vw), 2rem);
    --text-fluid-3xl: clamp(2rem, calc(2rem + 0.5vw), 2.25rem);
    --text-fluid-4xl: clamp(2.25rem, calc(2.25rem + 0.5vw), 2.5rem);
    --text-fluid-5xl: clamp(2.5rem, calc(2.5rem + 0.5vw), 2.75rem);
    --text-fluid-6xl: clamp(2.75rem, calc(2.75rem + 0.5vw), 3rem);
    --text-fluid-7xl: clamp(3rem, calc(3rem + 0.5vw), 3.25rem);
    --text-fluid-8xl: clamp(3.25rem, calc(3.25rem + 0.5vw), 3.5rem);
    --text-fluid-9xl: clamp(3.5rem, calc(3.5rem + 0.5vw), 3.75rem);
    --text-fluid-10xl: clamp(3.75rem, calc(3.75rem + 0.5vw), 4rem);

    @keyframes float {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --accent-button: rgb(215, 192, 151);
    --accent-button-light: rgb(197, 178, 146);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --accent-button: rgb(101, 126, 188);
    --accent-button-light: rgb(162, 188, 255);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground overflow-x-hidden;
    }
    html {
        @apply scroll-smooth;
    }
    :root {
        @apply bg-background text-foreground;
    }
    .dark {
        @apply bg-background text-foreground;
    }
}

@utility navbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
