@import 'tailwindcss';





[active='true'] {
    transform: scale(1.05);
}

/* [active='true']::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 0;
    right: 0;
    translate: 4px -4px;
    background-color: var(--button-text);
    z-index: 8;
    animation: custom-ping 1s infinite;
    animation-duration: 1s;
}

[active='true']::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 0;
    right: 0;
    translate: 4px -4px;
    background-color: var(--button-text);
    z-index: 4;
    opacity: 50%;
} */

* {
    margin: 0;
    padding: 0;
    color: var(--border-color);
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

#root {
    width: 100%;
    overflow-x: hidden;
}





.listTask:hover {
    transform: scale(1.05);
    position: relative;
    box-shadow: 0px 0px 4px 1px var(--border-color);
}

.scrollbar::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-custom-textarea {
    scrollbar-width: 10em;
    /* -ms-overflow-style: none; */
}

.scrollbar-custom-textarea::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaaaaa;
}

.scrollbar-custom-textarea::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
}

@keyframes custom-ping {
    75%,
    100% {
        transform: scale(1.1);
        opacity: 0;
    }
}
