@import 'tailwindcss';

:root {
    --background-color: #ecf4e8;
    --border-color: #171717;
    --background-header: #c6cbc3;
    --button-color: #ff9f9f;
    --button-color-hover: #da0037;
    --add-button: #91adc8;
    --star-fill: #3282b8;
    --stroke-check: #fff;
}

[data-theme='dark'] {
    --background-color: #171717;
    --border-color: #ecf4e8;
    --background-header: #3c3939;
    --button-color: #da0037;
    --button-color-hover: #ff9f9f;
    --add-button: #647fbc;
    --star-fill: #bbe1fa;
    --stroke-check: #4a4a4a;
}

* {
    color: var(--border-color);
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    transition: background 0.3s ease-in;
}

body {
    background-color: var(--background-color);
}

.NavBar ul li {
    display: flex;
    height: 36px;
    width: max-content;
}

.listTask {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    cursor: pointer;

    border: 1px solid var(--border-color);

    width: max-content;

    transition: all 0.3s ease;
}

.listTask:hover {
    transform: scale(1.05);
    position: relative;
    box-shadow: 0px 0px 4px 1px var(--border-color);
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-custom-textarea {
    scrollbar-width: 10em;
    /* -ms-overflow-style: none; */
}

.scrollbar-custom-textarea::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaaaaa;
}

.scrollbar-custom-textarea::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
}
