:root {
    --background-color: #ecf4e8;
    --border-color: #171717;
    --background-header: #c6cbc3;
    --button-color: #ff9f9f;
    --button-color-hover: #da0037;
    --add-button: #91adc8;
    --star-fill: #3282b8;
    --stroke-check: #fff;
    --button-text: oklch(37.9% 0.146 265.522);
    --toast-bg: #53e8ff;
}